<ons-list>
    <ons-list-header>メニュー</ons-list-header>
    <ons-list-item modifier="nodivider" tappable (click)="showRecentItemsPage();">
        <div class="left"><ons-icon icon="md-view-headline" size="24px"></ons-icon></div>
        <div class="center">新着投稿一覧</div>
    </ons-list-item>
    <ons-list-item modifier="nodivider" tappable (click)="showSearchPage();">
        <div class="left"><ons-icon icon="md-search" size="24px"></ons-icon></div>
        <div class="center">検索</div>
    </ons-list-item>
    <ons-list-item modifier="nodivider" tappable (click)="showAboutPage();">
        <div class="left"><ons-icon icon="md-info" size="24px"></ons-icon></div>
        <div class="center">About</div>
    </ons-list-item>
</ons-list>
